body {
  margin: 100px auto;
  background-color: #1a1938;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  margin: 0 auto;
  display: flex;
}

span {
  cursor: pointer;
  color: yellow;
}

.title {
  font-weight: 800;
  text-align: center;
  margin: 50px auto;
  color: white;
}

.paragraph {
  display: flex;
  justify-content: center;
  color: white;
  margin: 50px auto;
}

.info {
  display: flex;
  justify-content: center;
  gap: 50px;
}

img {
  width: 600px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

p {
  font-weight: 300;
  margin: 0;
}

.stat {
  margin: 0;
}
